.pagecontent {
    display: flex; /* Use flexbox to create a sidebar layout */
    flex-direction: row; /* Make the sidebar and content side-by-side */
    justify-content: space-between;
    margin: 0;
}

.sidebar {
    display: flex;
    left:0;
    float: left;
}


.account {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 900px;
}

.account-contents {
    width: 400px;
    align-content: center;
    text-align: left;
}

@media (max-width: 768px) {
  .account {
    width: 100%;
    padding: 0 16px;
    margin-top: 48px;
  }
  .account-contents {
    width: 100%;
    max-width: 420px;
  }
}

.before-curly {
    color: #15a4bd;
    margin-right: 3%;
  }

p {

    align-items: center;
    justify-content: flex-start;
    display: flex;

}


.buttons {
    font-size: 20px;
    font-weight: bold;
    color: #15a4bd;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.buttons .trans-buttons {
    min-width: 200px;
    min-height: 80px;
}
