/* Style for the container that holds the sidebar and content */
.page-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

@media (max-width: 768px) {
    .page-content {
      flex-direction: column;
    }
    .under-navbar {
      flex-direction: column;
      align-items: stretch;
    }
    .side-bar-wrapper,
    .bet-slip-wrapper {
      min-width: 0;
      position: static;
      height: auto;
      width: 100%;
    }
    .side-bar {
      position: static;
      height: auto;
      width: 100%;
    }
    .bet-slip {
      position: static;
      width: 100%;
      height: auto;
    }
    .middle {
      width: 100%;
    }
    .hide-on-mobile {
      display: block;
    }
    .hide-on-website {
      display: none;
    }
}

@media (min-width: 0px) {
    .hide-on-website {
      display: none;
    }
}

@media (min-width: 769px) {
    .hide-on-website {
      display: none;
    }
  }

.under-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.side-bar-wrapper {
    display: flex;
    position: relative;
    height: 100%;
    justify-content: flex-end;
    min-width: 130px;
}

.side-bar {
    position: fixed;
    display: flex;
    height: 100%;
}

.bet-slip-wrapper {
    display: flex;
    position: relative;
    height: 100%;
    justify-content: flex-start;
    min-width: 360px;
}

.bet-slip {
    display: flex;
    position: fixed;
    width: 380px;
    height: 100%;
}

.middle {
    display: flex;
    position: relative;
    flex: 1;
    min-width: 0;
}
