/* TeamSeparator.css */
.team-separator {
    position: relative;
    display: flex;
    align-items: center;
}

.at-image {
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px;
    margin-right: 12px;
}

.team-separator-line::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    width: 425px;
    height: 1px;
    background-color: #535151;
}

@media (max-width: 768px) {
  .team-separator-line::before {
    width: 40vw;
  }
}
