.welcome-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: auto;
}

.welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    margin-left: 1%;
}

.welcome-text {
    display: flex;
    margin-left: 1%;
    color: #ffffff;
}

@media (max-width: 768px) {
  .welcome-container {
    width: auto;
    justify-content: center;
  }
}

.balance {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.balance-text {
    display: flex;
    margin-left: 1%;
    color: #ffffff;
}
